body{
    color : white;
    background : rgb(0, 255, 0);
    background-position: center;
}

.heading{
    width : 80%;
    font-size: 22px;
}

#camera{
    border: 2px dashed black;
    height: 360px;
    width:300px;
}

.name_of_objects, #result_object_name, #result_object_accuracy{
    color:orange;
}